@import url("../../assets/css/fonts.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* background: rgb(46, 46, 46); */
  background: transparent;
  overflow: hidden;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  font-family: "Poppins", sans-serif;
}

.container {
  position: fixed;
  bottom: 22%;
  left: 10px;
}

.toast {
  background-color: white;
  border-radius: 5px;
  color: black;
  padding: 1rem 0.5rem;
  margin: 1rem;
  box-shadow: 0 0 5px 2px gray ;
  transition: 0.1s ease;
  width: 300px;
  opacity: 0;
}

.content {
  opacity: 1;
}

hr {
  margin: 0;
}

h6, hr {
  margin-bottom: 3px;
}

.row {
  width: 100%;
  padding: 0;
  margin: 0;
}

.col, .col-2 {
  height: 100%;
  padding: 0 5px;
}

.col-2 {
  text-align: center;
  vertical-align: middle;
  margin: 0 auto;
  margin-top: 13px;
  height: 100%;
}