@import url("../../assets/css/fonts.css");

* {
  margin: 0;
  padding: 0;
}

body {
  /* background: rgb(46, 46, 46); */
  background: transparent;
  overflow: hidden;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.container {
  width: 70%;
  height: 70%;
  background: white;
  position: absolute;
  top: 12%;
  left: 20%;
  border-radius: 25px;
  margin: 0;
  padding: 10px 0;
  border: 1px solid lightgray;
  box-shadow: 1px 1px 5px 1px gray;
}

.row {
  margin: 0;
  padding: 0;
  height: 95%;
}

/* NAVBAR */
.nav {
  width: 80%;
  padding: 0 10px;
  font-weight: bold;
}

.nav-link {
  color: darkcyan;
}

.nav-link:hover {
  color: rgb(0, 100, 100);
}

.admin {
  position: absolute;
  top: 13px;
  right: 52px;
  font-size: 20px;
  font-weight: bold;
  color: red;
}

/* TAB CONTENT */
.tab-content {
  width: 80%;
  height: 100%;
  padding: 20px;
}

.time input {
  text-align: center;
  font-size: 16px;
  padding-left: 10px;
  width: 10%;
}

.time input:hover, .time input:focus, .time input:active {
  box-shadow: 0 0 5px 1px darkcyan;
}

.alert {
  position: absolute;
  text-align: center;
  width: 50%;
  bottom: 5%;
  left: 15%;
  margin-top: 200px;
}

/* CUSTOM SELECT */
#customSelectHeader:hover {
  box-shadow: 0 0 5px 1px darkcyan;
}

#customSelect {
  padding: 0;
}

#customSelectHeader {
  margin: 0;
  padding: 6px 10px;
}

.customSelectItems {
  background: white;
  border: 1px solid gray;
  position: relative;
  top: 0;
  left: -1px;
  width: 216px;
}

.customSelectItem {
  padding: 2px 5px;
}

.customSelectItem:hover {
  background: darkcyan;
  color: white;
}

/* MODAL */
.modal-body {
  vertical-align: middle;
}

.ok {
  border-radius: 3px !important;
}

.player-info {
  margin-top: 10px;
}

.time-info {
  color: red;
}

.ip {
  position: absolute;
  left: 10%;
}

.serial {
  position: absolute;
  right: 10%;
}

.penalty-history {
  margin: 40px auto 5px;
  font-size: 18px;
  font-weight: 500;
}

.table {
  width: 100%;
  margin: 0 auto;
}

/* CUSTOM CHECKBOX */
.checkbox {
  display: block;
  position: relative;
  padding-left: 30px;
  margin-bottom: 12px;
  cursor: pointer;
}

.checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.checkmark {
  position: absolute;
  top: 1px;
  left: 1px;
  height: 21px;
  width: 21px;
  background-color: #eee;
  border-radius: 50%;
}

.checkbox:hover input ~ .checkmark {
  background-color: #ccc;
}

.checkbox input:checked ~ .checkmark {
  background-color: darkcyan;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.checkbox input:checked ~ .checkmark:after {
  display: block;
}

.checkbox .checkmark:after {
 	top: 7px;
	left: 7px;
	width: 7px;
	height: 7px;
	border-radius: 50%;
	background: white;
}

/* SIDEPANEL */
.sidepanel {
  width: 20%;
  height: 100%;
  float: right;
  padding: 10px;
  padding-top: 0;
  border-left: 1px solid lightgray;
}

.search {
  width: 100%;
  margin: 0 auto 5px;
}

.playerlist {
  height: 58%;
  padding: 5px;
  overflow-y: scroll;
}

.playerlist-label {
  margin: 0 auto 2px;
}

.btn-playerlist {
  padding: 0;
  width: 100%;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  background: rgb(245, 245, 245);
}

ul {
  list-style-type: none;
  margin-bottom: 0;
}

li {
  margin-bottom: 2px;
}

.btn-playerlist:focus {
  box-shadow: none;
}

.lastplayers {
  height: 25%;
  padding: 5px;
  overflow-y: scroll;
}

.lastplayers-label {
    margin: 8px auto 1px;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 5px;
}
 
::-webkit-scrollbar-thumb {
  background: lightgray;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: gray;
  border-radius: 5px;
}
