@import url("../../assets/css/fonts.css");

*{
    margin: 0;
    padding: 0;
}

body {
    background: rgb(100,200,200,0.2);
    /* background: transparent; */
    overflow: hidden;
    -webkit-user-select:none;
    -moz-user-select:none;
    user-select:none;
    font-family: "Poppins", sans-serif;
}

.container {
    width: 60%;
    height: 60%;
    background: white;
    position: absolute;
    top: 12%;
    left: 20%;
    border-radius: 25px;
}

/* CENTER/TABS/ALERTS */
.tabs {
    position: absolute;
    top: 0;
    left: 54%;
    text-transform: uppercase;
    z-index: 1;
}

.tab-login, .tab-register, .tab-changelog {
    cursor: pointer;
    font-weight: bold;
    color: darkcyan;
    background: white;
    padding: 7px 20px 7px 10px;
    margin: 5px;
    border-radius: 15px 0 0 15px;
    transition: color .2s;
}


.tab-login:hover, .tab-register:hover, .tab-changelog:hover {
    color: rgb(0,100,100);
}

.tab-login {
    margin-top: 10px;
}

.alert {
    position: absolute;
    bottom: 5%;
    z-index: 1;
    text-align: center;
}

.alert-danger {
    left: 18%;
    width: 30%;
}

.alert-success {
    left: 5%;
    width: 55%;
}


/* CHANGELOG */
.changelog {
    position: absolute;
    top: 5%;
    left: 3%;
    border-radius: 25px;
    height: 90%;
    width: 95%;
    opacity: 0;
    visibility: hidden;
    overflow: scroll;
    overflow-x: hidden;
    border-radius: 0;
}

.changelog-content {
    width: 82%;
    height: 100%;
}

.changelog hr {
    border-color: darkcyan;
}

.changelog h6 {
    font-weight: bold;
    font-size: 18px;
}

.changelog ul {
    padding-left: 25px;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 5px;
}
 
::-webkit-scrollbar-thumb {
  background: darkcyan;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(0,100,100);
  border-radius: 5px;
}

/* LEFT SIDE */
.left {
    position: absolute;
    left: 0%;   
    height: 100%;
    width: 65%;
    color: white;
}

.left img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 25px 0 0 25px;
}

.welcome {
    position: absolute;
    top: 25%;
    left: 10%;
    font-weight: normal;
}

.rlife {
    position: absolute;
    top: 35%;
    left: 10%;
    font-weight: bold;
}

.desc {
    position: absolute;
    top: 45%;
    left: 10%;
    font-weight: normal;
    font-size: 15px;
}

/* RIGHT SIDE */
.logo {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 5%;
    left: 77%;
}

.logo img {
    height: 10%;
}

.right-login, .right-register {
    position: absolute;
    left: 65%;
    height: 100%;
    width: 35%;
}

.login {
    position: absolute;
    top: 25%;
    left: 10%;
    font-size: 25px;
    color: darkcyan;
    font-weight: bold;
    text-transform: uppercase;
}

form {
    position: absolute;
    top: 35%;
    left: 10%;
    width: 80%;
    height: 80%;
    margin: 0 auto;
}

.form-check {
    padding-left: 30px;
}

input {
    border: none !important;
    border-bottom: 1px solid gray !important;
    border-radius: 0 !important;
}

.btn {
    border-radius: 30px;
    width: 100%;
    text-transform: uppercase;
    margin-top: 15px;
    position: relative;
}

.right-register {
    opacity: 0;
    visibility: hidden;
}

.validation {
    color: red;
    float: right;
    padding: 5px;
}

.loader {
    position: absolute;
    top: 24%;
    right: 3%;
    border: 4px solid lightgray; /* Light grey */
    border-top: 4px solid darkcyan; /* Blue */
    border-radius: 50%;
    width: 20px;
    height: 20px;
    animation: spin 1.5s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}