@import url("../../assets/css/fonts.css");

* {
  margin: 0;
  padding: 0;
}

body {
  /* background: rgb(100, 200, 200, 0.2); */
  background: transparent;
  -webkit-user-select:none;
  -moz-user-select:none;
  user-select:none;
  font-family: "Poppins", sans-serif;
}

.ui_element {
  max-width: 30%;
  height: 30%;
  overflow: scroll;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  text-shadow: 0 0 2px #222, 0 0 2px #222, 0 0 2px #222, 0 0 2px #222;
  color: white;
  font-weight: 500;
  font-size: 14px;
  position: relative;
  direction: rtl;
  margin-left: 10px;
  margin-top: 10px;
}

::-webkit-scrollbar {
  width: 10px;
  float: left;
}

::-webkit-scrollbar-thumb {
  background: rgb(180, 180, 180);
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(150, 150, 150);
  border-radius: 5px;
}

ul {
  list-style: none;
  margin-left: 10px;
  margin-bottom: 5px;
  direction: ltr;
}

.row {
  margin-left: 0;
  margin-right: 15px;
}

.info,
.ad {
  width: 300px;
  border-radius: 10px;
  margin-top: 10px;
}

.message {
  display: inline-block;
  margin-left: 10px;
}

.badge {
  margin-left: 0;
  padding: 5px 8px;
  font-size: 11px;
}

.chat-type {
  margin-left: 10px;
  width: 24px;
  text-align: center;
}

.nick,
.role,
.chat-type,
.header {
  font-weight: bold;
}

.role {
  text-transform: uppercase;
}

.header {
  padding: 0 5px;
  border-radius: 10px;
}

.text {
  border-radius: 10px;
  padding: 2px 10px;
  margin-left: 0;
  margin-top: 3px;
  background: rgba(100, 100, 100, 0.15);
}

.border {
  border-width: 2px !important;
}

.announcement, .player-info {
  width: 100%;
}

.badge-warning {
  color: white;
  background-color: darkorange;
}

input {
  color: white;
  background: rgba(0, 0, 0, 0.3);
  outline: 0;
  border: 0;
  font-size: 13px;
  line-height: 20px;
  width: 28.2%;
  padding: 8px 15px;
  border-radius: 10px;
  position: fixed;
  top: 31%;
  left: 30px;
  direction: ltr;
}

.text-danger{
  color: red !important;
}