@import url("../../assets/css/fonts.css");

* {
  margin: 0;
  padding: 0;
}

body {
  background: transparent;
  overflow: hidden;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.container {
  max-width: 100%;
  height: 100vh;
  margin: 0;
}

.speedDiv {
  position: relative;
  width: 100%;
  height: 100%;
}

#speedometer {
  position: absolute;
  right: 20px;
  bottom: 30px;
}

.icons {
  position: absolute;
  width: 300px;
  height: 300px;
  right: 20px;
  bottom: 30px;
}

.icon {
  height: 30px;
  width: 30px;
  position: absolute;
  transform: translate(-50%, -50%);
}

i {
  font-size: 25px;
  position: absolute;
  transform: translate(-50%, -50%);
  visibility: hidden;
}

.engine {
  fill: #111;
  left: 57%;
  top: 34%;
}

.carbody {
  fill: rgba(0, 0, 0, 0.8);
  left: 42%;
  top: 33%;
}

.headlights {
  fill: #111;
  left: 33%;
  top: 50%;
}

.handbrake {
  fill: #111;
  left: 65%;
  top: 50%;
}

.seatbelt {
  height: 27px;
  width: 27px;
  fill: rgb(200, 50, 50);
  left: 28%;
  bottom: 8%;
}

.doorlock {
  height: 27px;
  width: 27px;
  fill: rgb(200, 50, 50);
  right: 20%;
  bottom: 8%;
}