@import url("../../assets/css/fonts.css");

* {
    margin: 0;
    padding: 0;
}

body {
    /*background: rgb(100,200,200,0.2);*/
    background: transparent;
    overflow: hidden;
    -webkit-user-select:none;
    -moz-user-select:none;
    user-select:none;
    font-family: "Poppins", sans-serif;
}

.container {
    width: 100%;
    height: 100vh;
}

.header {
    text-align: center;
    padding: 20px;
    padding-top: 20px;
    font-weight: bold;
    text-transform: uppercase;
    color: white !important;
    -webkit-text-stroke: 2px black;
    text-shadow: 0 0 3px #222, 0 0 3px #222, 0 0 3px #222, 0 0 3px #222;
    color: black;
}

.spawn {
    width: 40%;
    height: 30%;
    position: absolute;
    border-radius: 25px;
    transition: 0.5s ease;
}

.row, .col {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}

.spawn-left {
    position: absolute;
    top: 10%;
    left: -100%;
}

.spawn-left img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 22px 22px 22px 0;
}

.spawn-left .image {
    border: 3px solid darkcyan;
    border-radius: 25px 25px 25px 0;
}

.spawn-right {
    position: absolute;
    top: 20%;
    right: -100%;
}

.spawn-right img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 22px 22px 0 22px;
}

.spawn-right .image {
    border: 3px solid darkcyan;
    border-radius: 25px 25px 0 25px;
}

.name {
    text-align: center;
    border-bottom: 3px solid darkcyan;
    height: 100%;
}

.spawn_details {
    position: relative;
    margin: 0 auto;
    text-align: center;
    top: 20%;
    opacity: 0;
    transition: 0.5s ease;
}

.spawn_name {
    position: relative;
    bottom: 10%;
    text-align: center;
    margin: 0 auto;
}