@import url("../../assets/css/fonts.css");

* {
  margin: 0;
  padding: 0;
}

body {
  background: transparent;
  overflow: hidden;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.container {
  width: 70%;
  height: 70%;
  background: white;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 25px;
  margin: 0;
  padding: 0;
  border: 1px solid lightgray;
  box-shadow: 1px 1px 5px 1px gray;
  visibility: hidden;
}

.equipment, .crafting {
  width: 100%;
  height: 100%;
}

.crafting {
  position: absolute;
  top: 0;
  right: 0;
  background: rosybrown;
  visibility: hidden;
  border-radius: 25px;
}

.inventory {
  background: green;
  width: 100%;
  height: 100%;
  border-radius: 25px 0 0 25px;
  float: left;
}

.tools {
  background: brown;
  width: 100%;
  height: 100%;
  border-radius: 0 25px 25px 0;
  float: right;
}