@import url("../../assets/css/fonts.css");

*{
  margin: 0;
  padding: 0;
}

body {
  background: transparent;
  overflow: hidden;
  -webkit-user-select:none;
  -moz-user-select:none;
  user-select:none;
  font-family: "Poppins", sans-serif;
}

.container {
  width: 35%;
  height: 90%;
  background: transparent;
  position: absolute;
  top: 5%;
  left: -40%;
  border-radius: 0 10px 10px 0;
  border: 2px solid darkcyan;
  box-shadow: 1px 1px 5px 2px gray;
  padding: 10px;
}

.container::after {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: 0 10px 10px 0;
  content: "";
  background: rgb(218, 218, 218);
  z-index: -1;
  opacity: 0.8;
}

h1 {
  text-align: center;
}

hr {
  margin-top: 0;
}

/* SEX */
.sex {
  width: 200px;
  height: 30px;
  text-align: center;
  vertical-align: middle;
  margin: 20px auto;
  background: lightgray;
  display: flex;
  border-radius: 10px;
  cursor: pointer;
  position: relative;
}

.sex-label {
  position: absolute;
  top: 1px;
  left: -50px;
  font-size: large;
}

.woman {
  position: absolute;
  left: 20px;
  padding-top: 4px;
}

.man {
  position: absolute;
  left: 107px;
  padding-top: 4px;
}

.sex-chosen {
  position: absolute;
  background: linear-gradient(to top, darkcyan, rgb(0, 175, 175));
  width: 98px;
  height: 26px;
  top: 2px;
  left: 100px;
  border-radius: 0 8px 8px 0;
}

/* PARENTS */
.parents {
  text-align: center;
  margin: 0 auto;
  width: 70%;
}

.parents .row {
  text-align: center;
  justify-content: center;
  margin: 0 auto;
  font-size: 20px;
}

.mother, .father {
  position: relative;
}

.fa-angle-double-left {
  position: absolute;
  left: 0;
}

.fa-angle-double-right {
  position: absolute;
  right: 0;
}

.parents .fas {
  margin: 6px 5px;
  transition: 0.2s ease;
}

.fas:hover {
  color: gray;
}

.mother-name, .father-name {
  text-align: center;
  width: 135px;
  background-color: lightgray;
  border-radius: 10px;
}

.parents-label {
  font-size: large;
}

.mother-label, .father-label {
  font-size: 15px;
  margin: 0;
}

/* PARENTS SIMILARITY */
.parents-similarity {
  width: 65%;
  margin-left: 60px;
}

.similarity-label {
  font-size: large;
  text-align: center;
  margin-left: 100px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

.skin-similarity-label, .shape-similarity-label {
  font-size: 15px;
  margin-top: 4px;
}

.skin-input, .shape-input {
  height: 30px;
  text-align: center;
  background: #d3d3d3;
  border: 1px solid darkcyan;
}

.skin-slider, .shape-slider {
  margin: 7px 10px;
  -webkit-appearance: none;
  width: 100%;
  height: 15px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  transition: 0.2s;
}

/* CUSTOM SLIDER */
.irs--round .irs-bar {
  background-color: transparent;
}

.irs--round .irs-handle {
  border: 4px solid darkcyan;
  position: absolute;
  top: -4px;
}

.irs-single, .irs-min, .irs-max, .irs-line {
  visibility: hidden !important;
}


/* CAROUSEL */
#carousel {
  height: 54%;
  padding: 50px 70px;
  overflow: hidden;
  position: relative;
  text-align: center;
  justify-content: center;
}

.carousel-control-prev-icon, .carousel-control-next-icon {
  font-size: 25px;
  color: gray;
  background-image: none;
  transition: 0.2s ease;
}

.carousel-control-next-icon.fas:hover, .carousel-control-prev-icon:hover {
  color: black;
}

.carousel-control-prev, .carousel-control-next {
  opacity: 0.8;
  width: 10%;
}

.select-label {
  position: absolute;
  top: 12px;
  left: 11%;
}

.carousel-item {
  margin-top: 20px;
}

.carousel-item .row {
  text-align: center;
  margin: 0 auto;
}

.carousel-item h6.label {
  font-size: large;
  font-weight: normal;
}

.carousel-item h6 {
  font-weight: normal;
}

/* EYES & EYEBROWS */
.eyes {
  width: 100%;
  position: relative;
}

.eye-id, .eyebrow-type, .eyebrow-color {
  text-align: center;
  width: 100%;
  background-color: lightgray;
  border-radius: 10px;
}

.eyes .fas, .eyebrows .fas {
  margin: 3px 5px;
  transition: 0.2s ease;
}

.eyebrows {
  width: 75%;
  position: relative;
}

.eye-open-slider, .eyebrow-width-slider,
.eyebrow-height-slider {
  margin: 7px 0px;
  -webkit-appearance: none;
  width: 100%;
  height: 15px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  transition: 0.2s;
  position: relative;
}

/* NOSE */
.nose-width, .nose-length, .nose-height,
.nose-end, .nose-bridge, .nose-bridge-move {
  text-align: center;
  width: 100%;
  background-color: lightgray;
  border-radius: 10px;
}

.nose .fas {
  margin: 3px 5px;
  transition: 0.2s ease;
}

.nose-width-slider, .nose-length-slider, 
.nose-height-slider, .nose-end-slider, 
.nose-bridge-slider, .nose-bridge-move-slider {
  margin: 7px 0px;
  -webkit-appearance: none;
  width: 100%;
  height: 15px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  transition: 0.2s;
  position: relative;
}

/* CHEEKS & JAW */
.cheek-slider, .cheek-height-slider, .cheek-width-slider, 
.jaw-height-slider, .jaw-width-slider {
  margin: 7px 0px;
  -webkit-appearance: none;
  width: 100%;
  height: 15px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  transition: 0.2s;
  position: relative;
}

/* CHIN & NECK */
.chin-length, .chin-width,
.chin-position, .chin-shape,
.neck {
  text-align: center;
  width: 100%;
  background-color: lightgray;
  border-radius: 10px;
}

.chin-length-slider, .chin-width-slider,
.chin-position-slider, .chin-shape-slider,
.neck-slider {
  margin: 7px 0px;
  -webkit-appearance: none;
  width: 100%;
  height: 15px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  transition: 0.2s;
  position: relative;
}

/* HAIR & BEARD */
.hair {
  width: 15%;
  position: relative;
}

.hair-id, .hair-color1, .hair-color2,
.beard-type, .beard-color {
  text-align: center;
  width: 100%;
  background-color: lightgray;
  border-radius: 10px;
}

.hair .fas, .beard .fas {
  margin: 3px 5px;
  transition: 0.2s ease;
}

.hair-color1-slider, .hair-color2-slider {
  margin: 7px 0px;
  -webkit-appearance: none;
  width: 100%;
  height: 15px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  transition: 0.2s;
  position: relative;
}

.beard {
  width: 75%;
  position: relative;
}

/* MOUTH & MAKEUP */
.mouth-slider {
  margin: 7px 0px;
  -webkit-appearance: none;
  width: 100%;
  height: 15px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  transition: 0.2s;
  position: relative;
}

.lipstick, .makeup {
  width: 75%;
  position: relative;
}

.lipstick-type, .lipstick-color,
.makeup-type, .makeup-color1,
.makeup-color2 {
  text-align: center;
  width: 100%;
  background-color: lightgray;
  border-radius: 10px;
}

.lipstick .fas, .makeup .fas {
  margin: 3px 5px;
  transition: 0.2s ease;
}

.w-80 {
  width: 80%;
}

/* BLUSHES & FRECKLES */
.blushes {
  width: 75%;
  position: relative;
}

.freckles {
  width: 15%;
  position: relative;
}

.blushes-type, .blushes-color,
.freckles-id {
  text-align: center;
  width: 100%;
  background-color: lightgray;
  border-radius: 10px;
}

.blushes .fas, .freckles .fas {
  margin: 3px 5px;
  transition: 0.2s ease;
}

/* AGING & COMPLEXION */
.aging, .complexion {
  width: 15%;
  position: relative;
}

.aging-id, .complexion-id {
  text-align: center;
  width: 100%;
  background-color: lightgray;
  border-radius: 10px;
}

.aging .fas, .complexion .fas {
  margin: 3px 5px;
  transition: 0.2s ease;
}

/* DISCOLORATION & BURNS */
.discoloration, .burns {
  width: 15%;
  position: relative;
}

.discoloration-id, .burns-id {
  text-align: center;
  width: 100%;
  background-color: lightgray;
  border-radius: 10px;
}

.discoloration .fas, .burns .fas {
  margin: 3px 5px;
  transition: 0.2s ease;
}

/* CUSTOM SELECT */
#customSelectHeader:hover {
  box-shadow: 0 0 5px 1px darkcyan;
}

#customSelect {
  padding: 0;
  text-align: center;
  position: absolute;
  top: 5px;
  left: 50%;
  transform: translate(-50%, 0);
}

#customSelectHeader {
  margin: 0;
  padding: 6px 10px;
}

.customSelectItems {
  background: white;
  border: 1px solid gray;
  position: relative;
  top: 0;
  left: -1px;
  width: 316px;
}

.customSelectItem {
  padding: 2px 5px;
}

.customSelectItem:hover {
  background: darkcyan;
  color: white;
}

/* CONTROL BUTTONS */
.control-buttons {
  position: absolute;
  width: 40%;
  height: 20%;
  bottom: 5%;
  right: 12%;
  text-align: center;
  margin-top: 18px;
  border: 2px solid darkcyan;
  box-shadow: 1px 1px 5px 2px gray;
  border-radius: 10px;
  background-color: rgb(218, 218, 218);
}

.random-reset {
  position: absolute;
  width: 20%;
  top: 50%;
  left: 6%;
  transform: translate(0, -50%);
}

.save {
  position: absolute;
  width: 20%;
  top: 50%;
  right: 6%;
  transform: translate(0, -50%);
}

.control-buttons .btn {
  width: 100%;
}

.bigbutton {
  padding: 15px 0;
}

.btn .far {
  font-size: 40px;
  display: block;
}

.roundSlider-label {
  margin-top: 20px;
  font-size: large;
}

#roundSlider {
  position: absolute;
  bottom: 15px;
  left: 50%;
  transform: translate(-50%, 0);
}

.rs-handle {
  background-color: white;
  border: 4px solid darkcyan;
  opacity: 0.75;
}

.rs-tooltip {
  top: 220px !important;
  font-family: "Poppins", sans-serif;
  font-size: 15px;
}